@charset "utf-8";

/*
 * CSS CONTENTS:
 *
 * 01. Web Font
 *
 * 
 * 08. Aside
 *
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap');

body {
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
  /*기본 폰트 크기: 16px*/
  font-size: 1em;
  /*줄간격*/
  line-height: 1.25;
  color: #242424;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*%와em은 부모 요소에 대한 상대적인 단위*/
  font-size: 100%;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
}

/* 01 Layout Selector */
#header {
  position: fixed; /*fixed는 display를 다 무시하는건가?*/
  top: 0;
  left: 0;
  right: 0;
  /*500이 최선인가?? 임의 설정값*/
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid transparent;
}
/*inner class 가 여러개입니다 잘 기억해두십시오*/
#header .inner {
  position:relative;
  max-width: 1500px;
  margin: 0 auto;
}
#header h1 {
  padding: 23px 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  /*줄간격*/
  line-height: 32px;
  /*자간*/
  letter-spacing: 1px;
  color: #242424;
  /*그렇게 원하던 중앙정렬 ㄱㄱ*/
  text-align: center;
}
#header h1 a {
  /*inline과 다르게 너비,높이,마진,패딩값 모두 적용 가능*/
  /*같은 라인에 있는 친구들에도 반영됨*/
  display: inline-block;
  height: 32px;
  /*a태그 자체의 특수 효과를 지워줌*/
  text-decoration: none;
  color: #242424;
  vertical-align: middle;
}
#header h1 img {
  width: auto;
  /*줄간격과 이미지의 높이를 맞추면 땅땅:)*/
  height: 32px;
}
/*검색창 위치 고정*/
#header .util {
  /*position은 left,right,top,bottom이랑 같이 쓰는거구나..*/
  position: absolute;
  top: 24px;
  right: 30px;
}
/*검색 아이콘 + transition*/
#header .util .search{
  position: relative;
  float: left;
  overflow: hidden;
  /*동그라미 크기로 짜부시킴ㅋㅋㅋ*/
  width: 32px;
  background-color: #fff;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
/*검색 아이콘 디자인 (클릭전)*/
#header .util .search:before {
  content: "";
  position: absolute;
  top: 0;
  right: 30;
  z-index: 20;
  width: 32px;
  height: 32px;
  border: 1px solid #eee;
  border-radius: 50%;
  /*양수:들여쓰기, 음수:내어쓰기*/
  text-indent: -999em;
  background: rgb(255, 255, 255) url(./images/search-interface-symbol.svg) no-repeat 0 0;
  vertical-align: middle;
  outline: none;
  /*마우스 올리면 커서 생기게*/
  cursor: pointer;
}
/*검색창*/
#header .util .search input {
  width: 32px;
  height: 32px;
  padding: 5px 15px;
  border: 0;
  background-color: transparent;
  font-size: 0.875em;
	line-height: 1;
	outline: none;
}
#header .util .search input:focus {
  border-color: #484848;
}
#header .util .search input::placeholder {
	color: #969696;
}
#header .util .search button {
  /*relative가 아니라 absolute니까 검색아이콘과 겹쳐짐*/
  position: absolute;
  top: 1px;
  right: 1px;
  /*검색 아이콘보다 밑에 ^-^*/
  z-index: 10;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff url(./images/search-interface-symbol.svg) no-repeat -1px -1px;
  vertical-align: middle;
  outline: none;
}
/*<s_search>안에 on이라는 메서드가 있는듯 ?*/
/*onclick="[##_search_onclick_submit_##]"*/
#header .util .search.on {width: 200px;}
#header .util .search.on:before {content: none;}
#header .util .search.on input {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 32px;
}
#header .util .search.on button {border-color: transparent;}

/* 02 Layout Selector */
#container {
  position: relative;
}
#container .content-wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}
/*before 와 after 도대체 언제 쓰이는가??*/
/* #container .content-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 1px;
  height: 100%;
  margin-left: 390px;
  background-color: #eee;
}
#container .content-wrap:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
} */
/*나의 nav 꾸미기*/
#container .content-wrap nav {
  position: fixed;
  width: 235px;
  margin-left: 1015px;
  word-break: break-word;
}
#container .content-wrap nav ul {
  padding: 15px 10px 3px;
  font-size: 0.75em;
  color: rgb(107, 107, 107);
}
#container .content-wrap nav ul li {
  line-height: 2.2;
  list-style: none;
  border-left: 2px solid rgba(110, 133, 100, 0.5);
  padding-left: 5px;
}
#container .content-wrap nav ul .space {
  padding: 10px;
}
#container .content-wrap nav ul li.nav-H1 {
  
}
#container .content-wrap nav ul li.nav-H2 {
  padding-left: 20px;
}
#container .content-wrap nav ul li.nav-H3 {
  padding-left: 40px;
}
#container .content-wrap nav ul li.nav-H4 {
  padding-left: 60px;
}
#container .content-wrap nav ul li.bold {
  font-weight: 700;
  color: rgb(20, 20, 20);
  border-left: 2px solid transparent;
  background-color: rgba(110, 133, 100, 0.5);
}
#content {
  float: left;
  width: 1015px;
	padding: 72px 30px 60px 0;
	box-sizing: border-box;
  background-color: white;
}
#content > .inner:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}






/*aside_total 생략*/
/*메뉴*/
/*메뉴*/
.menu {
  height: 100vh;
  position: absolute;
  display: flex;
  padding: 31px 0;
  margin-left: 30px;
}
/*메뉴 열고 닫을 때 디자인 변경*/
.menu.after {
  width: 330px;
  /*height을 안적었는데 잘 나온다고?*/
  background-color: rgba(110, 133, 100, 0.5);
  padding: 31px 0; 
}
/*메뉴 디자인*/
.menu-contents .sidebar {
  visibility: hidden;
  /* transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; */
}
.menu-contents .sidebar.after {
  visibility: visible;
  /*fade-in animation*/
  animation: fade-in 0.5s;
  animation-iteration-count: 1;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  -o-animation: fade-in 0.5s;
}
@keyframes fade-in {
  from { opacity: 0; } to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; } to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; } to { opacity: 1; }
}
@-o-keyframes fade-in {
  from { opacity: 0; } to { opacity: 1; }
}
/*메뉴 버튼 디자인*/
.menu-btn, .menu-btn a{
  cursor: pointer;
}
.menu-btn span {
  display: block;
  width: 22px;
  height: 1px;
  margin-bottom: 7px;
  background: rgb(75, 75, 75);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  cursor: pointer;
}
/*메뉴 버튼 열고 닫을 때 디자인 변경*/
.menu-btn.after .bar-1 {
  background: #eee;
  transform: translate(280px, 8px) rotate(45deg);
  -webkit-transform: translate(280px, 8px) rotate(45deg);
  -ms-transform: translate(280px, 8px) rotate(45deg);
}
.menu-btn.after .bar-2 {
  background: #eee;
  visibility: hidden;
  transform: translate(280px, 0);
}
.menu-btn.after .bar-3 {
  background: #eee;
  transform: translate(280px, -8px) rotate(-45deg);
}

/*메뉴 내 글씨 디자인*/
.sidebar h2 {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 0.875em;
  color: #555;
}
.sidebar ul li {
  padding: 4px 0 5px;
  font-size: 0.8125em;
  line-height: 1.25em;
  color: #eee;
}
.sidebar ul li a {
  color: #eee;
}
.sidebar ul li a:hover {
  color: #777;
}
/*메뉴 관리, 글쓰기, 로그인, 로그아웃*/
.sidebar .my-menu {
  display: flex;
}
.sidebar .my-menu li {
  list-style: none;
  padding-right: 10px;
}
.sidebar .my-menu li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
  color: #eee;
  text-decoration: none;
  text-align: center;
  /*텍스트 '수직' 중앙 정렬*/
  display: table-cell;
  vertical-align: middle;
}
.sidebar .my-menu .setting, .sidebar .my-menu .writing {
  font-size: 20px;
}
.sidebar .my-menu .login, .sidebar .my-menu .logout {
  font-size: 15px;
  font-weight: 700;
}
.sidebar .my-menu li a:hover {
  color: #777;
  border: 1px solid #777;
}
/*메뉴 관리창 & 카테고리 경계*/
.sidebar .sidebar-1 {
  margin-top: 38px;
  border-top: 1px solid #eee;
  padding-top: 46px;
}
/*메뉴 카테고리 & 공지 경계*/
.sidebar .sidebar-2 {
  margin-top: 38px;
  border-top: 1px solid #eee;
  padding-top: 46px;
}
/*공지 & 전체 방문자 경계*/
.sidebar .sidebar-3 {
  margin-top: 38px;
  border-top: 1px solid #eee;
  padding-top: 25px;
}
/* .sidebar .sidebar-4 {
  margin-top: 38px;
  border-top: 1px solid #eee;
  padding-top: 25px;
} */
/*메뉴 내 카테고리 디자인*/
.sidebar .category {
  margin-bottom: 36px;
}
.sidebar .category h2 {
  margin-bottom: 10px;
}
/*시작*/
.sidebar .category ul li {
  padding: 0;
  font-size: 0.875em;
  font-weight: 600;
  list-style: none;
}
.sidebar .category ul li a {
  color: #eee;
}
.sidebar .category ul li a:hover {
  color: #777;
}
/*중간*/
.sidebar .category ul li ul {
  margin-top: 10px;
	padding-left: 20px;
}
.sidebar .category ul li ul li {
	padding: 2px;
	font-weight: 400;
	font-size: 1em;
  list-style: none;
}
/*끝*/
.sidebar .category ul li ul li ul {
	overflow: hidden;
  margin-top: 10px;
	margin-bottom: 10px;
}
.sidebar .category ul li ul li ul li {
	position: relative;
  padding: 3px 0 3px 7px;
	/* border-left: 2px solid #eee; */
	font-size: 0.8125rem;
  list-style: none;
}
.sidebar .category ul li ul li ul li:before {
	/*대체 컨텐츠*/
  /*::before or ::after에만 적용가능한 속성들이 또 있뜸*/
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #eee;
}
/*끝의 왼쪽 회색 줄*/
.sidebar .category ul li ul li ul li:first-child:before {
	top: 7px;
	bottom: auto;
}
/*끝의 a태그 연회색*/
.sidebar .category ul li ul li ul li a {
	color: #999;
}
/*공지사항*/
.sidebar .notice {
	margin-bottom: 37px;
}
.sidebar .notice h2 {
  margin-bottom: 10px;
}
.sidebar .notice ul li {
  list-style: none;
  color: #eee;
}
.sidebar .notice ul li a {
  text-decoration: none;
  color: #eee;
}
/*페이스북, 인스타 등등 뭔지 모르겠음*/
/*HTML에서는 주석처리로 막아놓음*/
.sidebar .social-list {
  margin-bottom: 46px;
}
.sidebar .social-list h2 {
  margin-bottom: 18px;
}
.sidebar .social-list .tab-list {
  overflow: hidden;
  width: 100%;
}
.sidebar .social-list ul li {
	margin-bottom: 15px;
	padding: 0 0 0 48px;
}
.sidebar .social-list ul li a {
  display: block;
  text-decoration: none;
}
.sidebar .social-list ul li a:hover .text {
  text-decoration: underline;
}
.sidebar .social-list ul li .avatar {
	float: left;
	overflow: hidden;
	width: 40px;
	height: 40px;
	margin-left: -48px;
	border-radius: 50%;
}
.sidebar .social-list ul li .title {
	display: block;
}
.sidebar .social-list ul li .date {
	display: block;
	margin-top: 6px;
	font-size: 0.75rem;
	color: #777;
}
/*전체 방문자 수*/
.sidebar .count {
	margin-bottom: 46px;
}
.sidebar .count h2 {
	margin-bottom: 15px;
}
.sidebar .count h2:before {
	content: "";
	display: block;
	width: 17px;
	height: 1px;
	margin-bottom: 18px;
	/* background-color: #555; */
}
.sidebar .count p {
	margin-bottom: 6px;
	font-size: 0.8125em;
	color: #eee;
}
.sidebar .count .total {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 1.875em;
	color: #eee;
}
/*페북, 인스타, 트위터, 유투브*/
.sidebar .social-channel {
  margin-bottom: 48px;
}
.sidebar .social-channel ul {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.sidebar .social-channel ul li {
  list-style: none;
  padding-right: 10px;
}
.sidebar .social-channel ul li:first-child {
	margin-left: 0;
}
.sidebar .social-channel ul li a {
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
	border-radius: 50%;
  font-size: 25px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  /*list의 점만 남고 text가 사라짐*/
  /* text-indent: -999em; */
}
.sidebar .social-channel ul li a:hover {
  border: 1px solid #777;
}
.sidebar .social-channel ul li .youtube a {
	background-position-x: -50px;
}
.sidebar .social-channel ul li .instagram a {
	background-position-x: -100px;
}
.sidebar .social-channel ul li .twitter a {
	background-position-x: -150px;
}

/* blog 본문 디자인 시작 */

/*post-item*/
/* .post-item {
  float: left;
  width: 31.081081081081081%;
	margin: 0 0 58px 3.378378378378378%;
}
.post-item:nth-child(3n+1) {
	clear: both;
	margin-left: 0;
}
.post-item a {
	display: block;
	text-decoration: none;
}
.post-item a:hover .title,
.post-item a:focus .title {
	text-decoration: underline;
}
.post-item .thum {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0;
	margin-bottom: 5px;
	padding-bottom: 60.869565217391304%;
	background-color: #f8f8f8;
}
.post-item .thum img {
	width: 100%;
	height: auto;
	transform: translateY(-25%);
	-webkit-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
}
.post-item .title {
	display: block;
	overflow: hidden;
	max-width: 98%;
	margin-bottom: 4px;
	padding-top: 9px;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.4;
}
.post-item .excerpt {
	display: block;
	overflow: hidden;
	max-width: 95%;
	margin-bottom: 15px;
	text-overflow: ellipsis;
	font-size: 0.8125em;
	line-height: 1.5rem;
	color: #999;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.post-item .meta {
	display: block;
	font-size: 0.75em;
	color: #999;
}
.post-item .meta span:before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 0 8px 0 5px;
	background-color: #d2d2d2;
	vertical-align: middle;
}
.post-item .meta span:first-child:before {
	content: none;
}
.post-item.protected .thum:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 34px;
	height: 47px;
	margin: -24px 0 0 -17px;
	background: url(./images/ico_package.png) no-repeat 0 -120px;
	background-size: 120px auto;
} */



/*본문1 post-cover*/
.post-cover {
  position: relative;
  z-index: 20;
  display: table;
  width: 100%;
  height: 340px;
  background-color: #cbcbcb;
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
}
.post-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 53, 53, 0.25);
}
.post-cover .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 10;
}
.post-cover .category {
  display: block;
  max-width: 1250px;
  margin: 0 auto 13px;
  font-size: 0.875em;
  color: #eee;
}
.post-cover h1 {
  max-width: 1250px;
  margin: 0 auto 13px;
  font-size: 2.125em;
  font-weight: 600;
  line-height: 1.2352;
  color: #eee;
}
.post-cover a {
  text-decoration: none;
  color: #eee;
}
.post-cover .meta {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 0.875em;
  color: rgba(255,255,255,0.6);
}
.post-cover .meta a {
  color: rgba(255,255,255,0.6);
}
.post-cover .meta a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  margin: 0 8px 0 8px;
  background-color: rgba(255,255,255,0.6);
}
/*본문2 entry-content*/
.entry-content h1 {
  clear: both;
  margin: 29px 0 22px;
  font-size: 2em;
  line-height: 1.5;
  color: #000;
}
.entry-content h2 {
	clear: both;
	margin: 29px 0 22px;
	font-size: 1.6em;
	line-height: 1.5;
	color: #000;
}
.entry-content h3 {
	clear: both;
	margin: 29px 0 22px;
	font-size: 1.3em;
	line-height: 1.5;
	color: #000;
}
.entry-content h4 {
	clear: both;
	margin: 29px 0 22px;
	font-size: 1.1em;
	line-height: 1.5;
	color: #000;
}
.entry-content a {
  color: rgba(110, 133, 100, 0.5);
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}
.entry-content p {
  margin-bottom: 2px;
  /*텍스트가 콘텐츠 밖으로 overflow할 때 줄을 바꿀지 안 바꿀지*/
  word-break: break-all;
  font-size: 0.96em;
  line-height: 2;
  color: #333;
}
.entry-content p span {
  /*형광펜 표시, 굵은 글씨, 글자 색 변한 부분들 굵게*/
  padding: 2px 3px 3px;
  border-radius: 7px;
}
.entry-content p.align-img {
  /*img 중앙정렬을 실현하기 위한 class추가..!*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-content p img {
  max-width: 100%;
  height: auto;
}
.entry-content figure {
  /*CSS는 같은 속성을 여러번 정의했을 때 가장 나중에 설정한 값이 적용된다*/
  /*나아중에 설정된 값이 적용되지 않게 하려면 속성값 뒤에 !important를 붙인다*/
  margin-top: 8px !important;
}
.entry-content hr {
  display: block;
  height: 0;
  width: 0;
  border-bottom: 1px solid #000; /*뭐지 점으로만 표시된다*/
}
.entry-content pre {
  word-break: break-all;
  /*요소가 공백 문자를 처리하는 법 지정*/
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-right: 11px; /*코드 문단 안쪽으로*/
  padding: 20px 25px 25px;
  border-radius: 20px;
  background-color: rgba(88, 88, 88, 08);
}
.entry-content pre code {
  /*일단 코드 내의 자간, 간격 조절 해주긴했는데*/
  font-size: 1.05em;
  line-height: 2.1;
}
.entry-content ul {
  list-style: disc;
  margin-bottom: 22px;
  /*revert 속성 공부할 것*/
  padding: revert;
}
.entry-content ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 5px;
  line-height: 1.57;
  color: #555;
  text-indent: -22px;
  list-style: inherit;
}
.entry-content ol {
  /*이 list-style은 뭘까*/
  list-style: decimal inside;
  margin-bottom: 22px;
}
.entry-content ol li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 22px;
  line-height: 1.57;
  color: #555;
  text-indent: -15px;
  list-style: inherit;
}
.entry-content img.alignleft {
  float: left;
  margin: 0 22px 22px 0;
}
.entry-content img.aligncenter {
  margin: 0 auto 22px;
}
.entry-content img.alignright {
  float: right;
  margin: 0 0 22px 22px;
}
.entry-content blockquote {
  /*인용구*/
  margin-bottom: 40px;
  padding: 16px 20px;
  border-left: 4px solid #e6e6e6;
}
.entry-content blockquote p {
  margin: 5px 0 0;
}
.entry-content blockquote p:first-child {
  margin-top: 0;
}
.entry-content table {
  width: 100%;
  margin-bottom: 22px;
  border: 1px solid #eee;
  /*border-collapse*/
  /*표 테두리가 분리(separated)될지 상쇄(collapsed)될지 결정*/
  border-collapse: collapse;
  text-align: center;
  font-size: 0.95em;
  line-height: 1.57;
  color: #333;
}
.entry-content table thead th {
  padding: 11px 0;
  border-left: 1px solid #eee;
}
.entry-content table tbody td {
  padding: 11px 0;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}
.entry-content input {
  /*이 input은 언제 쓰이는거임*/
  height: 36px;
  padding: 0 10px;
  border: 1px solid #eee;
  font-size: 0.8em;
  line-height: 1.25;
  color: #333;
  box-sizing: border-box;
  vertical-align: middle;
}













#acc-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 0;
}

#acc-nav a {
  display: block;
  position: inherit;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;

  width: 1px;
  height: 1px;
  margin-left: -1px;
  margin-bottom: -1px;

  text-align: center;
  font-weight: bold;
  font-size: 0.875em;
  color: #000;
}

/* body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f0adf7;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#top {
  width: 100%;
  position: fixed;
}

header {
  width: inherit;
  min-height: 3.5em;
  background-color: #c6dbc8;
}

nav {
  width: inherit;
  min-height: 3.5em;
  background-color: #8ca18d;
}

#middle {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

main {
  width: 70%;
  height: inherit;
  padding-top: 7em; 
  background-color: #afcce3;
}

aside {
  width: 15%;
  height: inherit;
  padding-top: 7em; 
  background-color: #62a0d1;
}

@media screen and (max-width: 1800px){
  .left-sidebar {
    display: none;
  }
  main {
    width: 85%;
  }
}

#bottom {
  width: inherit;
  min-height: 3.5em;
  margin-top: 7em;
  background-color: #567957;
} */